[project]
	description = GitHubRepo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/idogar
[access "refs/for/refs/*"]
	read = group user/idogar
	push = group user/idogar
	label-Code-Review = -2..+2 group user/idogar
	label-Verified = -1..+1 group user/idogar
	rebase = group user/idogar
	removeReviewer = group user/idogar
	submit = group user/idogar
[access "refs/heads/*"]
	read = group user/idogar
	create = group user/idogar
	push = +force group user/idogar
	pushMerge = group user/idogar
[access "refs/tags/*"]
	push = +force group user/idogar
	pushTag = group user/idogar
	pushSignedTag = group user/idogar
